footer{
    text-align: center;
}

body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;

  }


 main {
 flex: 1 0 auto;
 }

 .brand-logo{
   margin-left: 3%;
   font-family: 'Playfair Display SC', serif;
 }
 
 input[type=text]{
   height:2rem !important;
 }